<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PsExcercise</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=2" />
</head>
<body id="psexcercise">
    @RenderBody()
</body>
</html>