@*bundle.js goes in wwwroot folder*@
<div id="app"></div>

<script type="text/javascript" src="@Url.Content(ViewBag.Bundle)"></script>
<script type="text/javascript" src="@Url.Content(ViewBag.NodeModules)"></script>
